#content {
    background-color: black;
    color: white;
}
#h1 {
    text-align: center;
    padding-top: 20px;
     margin-bottom: 40px;
}
.navbar-brand {
    display: flex;
    align-items: center;
 }
 
 .navbar-brand img {
    margin-right: 10px;
 }
#footer a {
    text-decoration: none;
}